<div class="ui mini modal" id="confirmingModal">
    <div class="ui header">
    </div>
    <div class="content">
    </div>
    <div class="actions">
        <div class="ui center floated positive button" id="confirmModalOk">
            <i class="checkmark icon"></i> OK
        </div>
        <div class="ui center floated negative button" id="confirmModalNo">
            <i class="remove icon"></i> No
        </div>
    </div>
</div>
<div class="ui mini modal" id="alertModal">
    <div class="ui red header">
    </div>
    <div class="content">
    </div>
    <div class="actions">
        <div class="ui center floated button" id="modalButtonOK">
            <i class="checkmark icon"></i> OK
        </div>
    </div>
</div>